@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-display: swap;
  src: url('../public/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  src: url('../public/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-display: swap;
  src: url('../public/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: "Druk Wide";
  font-weight: 900;
  font-display: swap;
  src: url('../public/fonts/DrukWideBold.ttf') format('truetype');
}

body,
html {
  scroll-behavior: smooth;
  background: linear-gradient(90deg, hsla(233, 59%, 6%, 1) 37%, hsla(219, 42%, 14%, 1) 100%);
}
body::-webkit-scrollbar {
  width: 6px;
}

.centered {
  display: flex;
  justify-content: center;
  margin: 44px auto 2.5rem;
  max-width: 56rem;
  position: relative;
  padding: 1rem;
}


@media (min-width: 768px) {
  .centered {
      margin-top:60px
  }
}

@media (min-width: 1536px) {
  .centered {
      max-width:64rem
  }
}

@media (min-width: 2000px) {
  .centered {
      max-width:80rem;
  }
}

@media screen and (max-width: 640px) {
  body::-webkit-scrollbar {
    width: 2px;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.lock-scroll {
  overflow: hidden !important;
}

.horizontal-scrollbar::-webkit-scrollbar {
  height: 3px;
  border-radius: 999px;
}


.mouse {
	width: 40px;
	height: 70px;
	border: 3px solid rgba(255, 255, 255, 0.7); /* Adjusted opacity to 70% */
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: rgba(255, 255, 255, 0.7); /* Adjusted opacity to 70% */
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

/* Nprogress bar Custom Styling (force) : STARTS */
#nprogress .bar {
  background-color: rgba(0, 89, 255, 0.7) !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: none !important;
}
/* Nprogress bar Custom Styling (force) : ENDS */

.card {
  @apply bg-white dark:bg-customLight p-5 sm:p-10 flex flex-col sm:flex-row gap-8 items-center max-w-2xl shadow-md rounded-lg mt-[30%] sm:mt-8 transition-all;
}